{% extends 'layouts/base.html' %} {% block title %} {{ page_name }} {% endblock %} {% block content %}

<h1 class="page-header"> {{ page_name }}
    <small>Management</small>
</h1>

<ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="javascript:void(0);">Master</a></li>
    <li><a href="{% url 'customers.index' %}">{{ page_name }}</a></li>
    {% if type == 'create' %}
    <li class="active">Create New</li>
    {% else %}
    <li class="active">Edit Data</li>
    {% endif %}
</ol>

{% include "layouts/alert.html" %}


<div class="panel panel-default">
    <div class="panel-heading">
        <div class="clearfix">
            <div class="pull-left">
                {% if type == 'create' %}
                <i class="fa fa-plus"></i>&nbsp;<strong>Create New</strong> {% else %}
                <i class="fa fa-edit"></i>&nbsp;<strong>Edit Data</strong> {% endif %}
            </div>
            <div class="pull-right">
                <a href="{% url 'customers.index' %}" class="btn btn-sm btn-info">
                    <i class="fa fa-rotate-left"></i>&nbsp;Back
                </a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <form method="POST" class="form-horizontal" id="form-submit" role="form" enctype="multipart/form-data">

            {% csrf_token %}

            <div class="form-group {% if form.errors.name %} has-error {% endif %}">
                <label class="control-label col-sm-2" for="id_name">Name :</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="id_name" name="name" value="{{ form.instance.name }}"> {% if form.errors.name %}
                    <span class="help-block">
                        <strong>{{ form.errors.name }}</strong>
                    </span> {% endif %}
                </div>
            </div>

            <div class="form-group {% if form.errors.phone %} has-error {% endif %}">
                <label class="control-label col-sm-2" for="id_phone">Phone :</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="id_phone" name="phone" value="{{ form.instance.phone }}"> {% if form.errors.phone %}
                    <span class="help-block">
                        <strong>{{ form.errors.phone }}</strong>
                    </span> {% endif %}
                </div>
            </div>

            <div class="form-group {% if form.errors.email %} has-error {% endif %}">
                <label class="control-label col-sm-2" for="id_email">Email :</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="id_email" name="email" value="{{ form.instance.email }}"> {% if form.errors.email %}
                    <span class="help-block">
                        <strong>{{ form.errors.email }}</strong>
                    </span> {% endif %}
                </div>
            </div>

            <div class="form-group {% if form.errors.website %} has-error {% endif %}">
                <label class="control-label col-sm-2" for="id_website">Website :</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="id_website" name="website" value="{{ form.instance.website }}"> {% if form.errors.website %}
                    <span class="help-block">
                        <strong>{{ form.errors.website }}</strong>
                    </span> {% endif %}
                </div>
            </div>

            <div class="form-group {% if form.errors.address %} has-error {% endif %}">
                <label class="control-label col-sm-2" for="id_address">Address :</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="id_address" name="address" rows="5">{{ form.instance.address }}</textarea> {% if form.errors.address %}
                    <span class="help-block">
                        <strong>{{ form.errors.address }}</strong>
                    </span> {% endif %}
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-save"></i>&nbsp;Save
                    </button>
                    <button type="reset" class="btn btn-warning">
                        <i class="fa fa-refresh"></i>&nbsp;Reset
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer"></div>
</div>



{% endblock %}