{% extends 'layouts/base.html' %} {% block title %} Purchases {% endblock %} {% block content %}

<h1 class="page-header"> Purchase
    <small>Transaction</small>
</h1>

<ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="javascript:void(0);">Transaction</a></li>
    <li class="active">Purchases</li>
</ol>

{% include "layouts/alert.html" %}


<div class="panel panel-default">
    <div class="panel-heading">
        <div class="clearfix">
            <div class="pull-left">
                <i class="fa fa-table"></i>&nbsp;<strong>List Purchases</strong>
            </div>
            <div class="pull-right">
                <a href="{% url 'purchases.create' %}" class="btn btn-sm btn-info">
                    <i class="fa fa-plus"></i>&nbsp;Create New
                </a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="container-fluid table-responsive">
            <table class="table table-striped" id="table-data">
                <thead>
                    <tr>
                        <th>Invoice Date</th>
                        <th>Invoice Number</th>
                        <th>Supplier</th>
                        <th>Grand Total</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer"></div>
</div>

{% csrf_token %} {% endblock %} {% block scripts %} {% load static %} {% load custom %}
<script src="{% static 'scripts/purchases.js' %}?{% random_uuid %}"></script>
{% endblock %}