{% extends 'layouts/base.html' %} {% block title %} Profile {% endblock %} {% block content %}

<h1 class="page-header"> User
    <small>Change Password</small>
</h1>

<ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li class="active">Change Password</li>
</ol>

{% include "layouts/alert.html" %}


<div class="panel panel-default">
    <div class="panel-heading">
        <div class="clearfix">
            <div class="pull-left">
                <i class="fa fa-key"></i>&nbsp;<strong>Change Password</strong>
            </div>
            <div class="pull-right">
                <a href="{% url 'home' %}" class="btn btn-sm btn-info">
                    <i class="fa fa-rotate-left"></i>&nbsp;Back
                </a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <form method="POST" class="form-horizontal" id="form-submit" role="form" enctype="multipart/form-data">

            {% csrf_token %}

            <div class="form-group {% if form.errors.old_password %} has-error {% endif %}">
                <label class="control-label col-sm-3" for="id_old_password">Old Password :</label>
                <div class="col-sm-7">
                    <input type="password" class="form-control" id="id_old_password" name="old_password" value=""> {% if form.errors.old_password %}
                    <span class="help-block">
                        <strong>{{ form.errors.old_password }}</strong>
                    </span> {% endif %}
                </div>
            </div>

            <div class="form-group {% if form.errors.new_password1 %} has-error {% endif %}">
                <label class="control-label col-sm-3" for="id_new_password1">New password :</label>
                <div class="col-sm-7">
                    <input type="password" class="form-control" id="id_new_password1" name="new_password1" value=""> {% if form.errors.new_password1 %}
                    <span class="help-block">
                        <strong>{{ form.errors.new_password1 }}</strong>
                    </span> {% endif %}
                </div>
            </div>

            <div class="form-group {% if form.errors.new_password2 %} has-error {% endif %}">
                <label class="control-label col-sm-3" for="id_new_password2">New password confirmation :</label>
                <div class="col-sm-7">
                    <input type="password" class="form-control" id="id_new_password2" name="new_password2" value=""> {% if form.errors.new_password2 %}
                    <span class="help-block">
                        <strong>{{ form.errors.new_password2 }}</strong>
                    </span> {% endif %}
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-10">
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-save"></i>&nbsp;Save
                    </button>
                    <button type="reset" class="btn btn-warning">
                        <i class="fa fa-refresh"></i>&nbsp;Reset
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer"></div>
</div>



{% endblock %}